<div class="container">
  <div class="grid">
    <div class="col box font-bold text-white mx-2">
      <p-menubar [model]="topBarItems">
        <ng-template pTemplate="start">
            <img src="assets/img/cheese.png" height="40" class="mr-2">
        </ng-template>
        <ng-template pTemplate="end">
          <h1>{{ currentValue == null ? 'Getting prices ...' : ('$' + currentValue + ' Pz') }}</h1>
        </ng-template>
      </p-menubar>
    </div>
    <div class="col-fixed box font-bold text-white" style="width:25%;height: 98vh;">
      <p-card styleClass="menu-card"><b>Centro Scambi</b></p-card>
      <p-card styleClass="menu-card"><b>Schedario</b></p-card>
      <p-card styleClass="menu-card"><b>Chiudi</b></p-card>
    </div>
  </div>

  <p-toast></p-toast>
</div>
