:host {
  
}

.container {

}

.main-card {
    background-color: red;
}

.ngx-color {
    &.p-card {
      border-radius: 1rem;
      overflow: hidden;
    }
  
    .p-card-title {
    }
    .p-card-body {
      padding: 2rem !important;
      background: #a6120d;
      color: #fff;
    }
  }
